In [1]:
import pandas as pd
from ipyleaflet import *
from ipyleaflet import Map, basemaps, basemap_to_tiles

In [2]:
nativeornote_df = pd.read_csv("nativeornot.csv")
nativeornote_df

                Park Name        Category  count  Nativeness
0    Acadia National Park       Amphibian     12      Native
1    Acadia National Park       Amphibian      1  Not Native
2    Acadia National Park            Bird    231      Native
3    Acadia National Park            Bird    117  Not Native
4    Acadia National Park            Fish     14      Native
..                    ...             ...    ...         ...
669    Zion National Park          Mammal     78      Native
670    Zion National Park          Mammal      2  Not Native
671    Zion National Park         Reptile     29      Native
672    Zion National Park  Vascular Plant   1173      Native
673    Zion National Park  Vascular Plant    189  Not Native

[674 rows x 4 columns]

In [3]:
start_location = (45.0998, -120.1586)

m = Map(center=start_location, zoom=3, scroll_wheel_zoom=True)

display(m)

Map(center=[45.0998, -120.1586], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', '…

In [4]:
m = Map(
    basemap=basemap_to_tiles(basemaps.OpenTopoMap, "2017-04-08"),
    center=(45.0998, -120.1586),
    zoom=3
)

m

Map(center=[45.0998, -120.1586], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', '…