### Import Dependencies

In [3]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

### Load in Data to Dataframes

In [14]:
#Load in data (We will eventually have this pulled in from a Postgres RDS)
parks_df = pd.read_csv(Path('Resources/parks.csv'))
species_df = pd.read_csv(Path('Resources/species.csv'))
visitation_df = pd.read_csv(Path('Resources/park_visitation.csv'))

C:\Users\ohugh\Anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
parks_df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [16]:
species_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [17]:
visitation_df.head()

,Park Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average
0,Abraham Lincoln Birthplace NHP,163568.0,169515.0,163928.0,241264.0,148605.0,252495.0,269580.0,260964.0,238226.0,228141,213628.6
1,Acadia NP,2374645.0,2431052.0,2254922.0,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034,2889149.1
2,Adams NHP,219975.0,336031.0,285501.0,178468.0,183632.0,199301.0,255562.0,121007.0,187400.0,6937,197381.4
3,African Burial Ground NM,108585.0,77624.0,93234.0,54861.0,56348.0,46526.0,43182.0,45035.0,47427.0,7908,58073.0
4,Agate Fossil Beds NM,11617.0,11824.0,10504.0,12440.0,13264.0,15555.0,32038.0,16238.0,16657.0,8722,14885.9

### Create Dataframe for Regression

In [ ]:
# Create dataframe with Park Name, Acreage, Average Number of Visitors for the past 10 years, Number of Different Species (Biodiversity), Number of Native Species, Number of Non-Native Species